    /* defaults */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

    aside{
    border: 3px solid black;
        width: 15%;
        padding-left: 25px;
        padding-right: 25px;
        float:right;
        background-color: red;
        overflow-y: auto;
        min-height: 95.3vh;
        flex-warp: warp;
    }

  .square{
    border: 3px solid blue;
     width: 100%;
     height: 40px;
     padding-height: 5px;
    background-color: #333;

  }

      article {
      float: left;
      padding: 20px;
      width: 85%;
      background-color: #333;
     min-height: 100vh; /* only for demonstration, should be removed */
    }
 fieldset{
            border: 1px solid red;
            font-family: Arial,serif;
         	font-size: 40px;
            color:lightblue;
            padding-right: 10px;
            padding-left: 10px;
            float: right;
            background-color: transparent;
            text-decoration: none;
    }
    fieldset:text{
    font-size:50px;
    text:center;}

    aside div.rightmenuinnerinner {
      border: 2px solid blue;
      background-color: lightblue;
      height: 40px;
      width: 20px;
      color: black;
      padding: 40px;
      text-align: center;

    }
    conditions .readings{
            border-top: 1px solid red;
            font-family: Arial,serif;
         	font-size: 60px;
            color:lightblue;
            padding-right: 10px;
            padding-left: 10px;
            float: right;
            background-color: transparent;
            text-decoration: none;
    }
/* New Button style */
    addbutton{
     width: 15%;
     font-size: 24px;
     background-color: green;
     color: white;
     padding: 10.5px 25px;
     text-align: center;
     text-family: Arial,serif;
     text-decoration: none;
     display: inline-block;

    }
    /* Button hover */
    addbutton:hover, addbutton:active{
    background-color: blue;
    }

    chartbutn{
     width: 50%;
     font-size: 24px;
     color: white;
     padding: 10.5px 25px;
     padding left: 60%;
     text-align: center;
     text-family: Arial,serif;
     text-decoration: none;
     display: inline-block;
    }
/* Maps style */
    map{
    height:90%;
    padding-height:500px;
    width:800px; height:500;
    border:0;
   
    loading:lazy;}

span.psw {
  float: right;
  padding-top: 16px;
}

close:hover,
close:focus {
  color: red;
  cursor: pointer;
}


  readings .tempnumb{
        margin: 50px;
        font-size: 15px;
        text-align: center;
  }

